<!DOCTYPE html>
<html>
<head>
    <title>
        form
    </title>
  <style type="text/css">
   body {background:#355C7D}
   img {size:20}
   textarea {color:50spx}
</style>
</head>
<body>
<form action='/analyzed' method='get'>
    <h1>Welcome To Text-analyazer.com</h1>
    <textarea name="text" style="margin: 0px; width: 822px; height: 132px;"></textarea><br>
    <input type="checkbox" name="remve"> remove pun<hr>
    <input type="checkbox" name="upper">upper case<hr>
    <input type="checkbox" name="count">char count<hr>
    <input type="checkbox" name="spac">line  remover<hr>
    <button type="submit">analyzer</button>
</form>
</body>
</html>

