<!DOCTYPE html>
<html>
<head>
    <title>
        form
    </title>
  <style type="text/css">
   body {background:#355C7D}
   legend {font-size:24px;color:orange}
   img {size:20}
</style>
</head>
<body>
<form>
    <fieldset>
        <legend>Form for example</legend>
       <img src="D:\my photos\oww\pubg_PNG55.png" width="150"height="150" >
       <p style="color:WHITE;font-size:20px">name <input type="text" placeholder="your name"><br>
        gmail <input type="text"><br>
        name <input type="password"><br>
        <br>
        gender<br>
        <input type="radio" value="gender" id="cq">male<BR>
        <input type="radio" value="gendescGHHJCVHJ r" id="gclnjc">female<br>
        <br>
        Checkbox example<br>
        <input type="checkbox">i have laptop<br>
        <input type="checkbox">i have  desktop<br>
        <br>
        Age
        <select>
            <option>0-10</option>
            <option>10-20</option>
        </select><BR>
        Feedback:
        <textarea cols="20" rows="10"></textarea>
        <br>
        <input type="button" value="submit">
    </fieldset>
</form>
</body>
</html>